.mod-syntax {
    white-space: pre-wrap;
}
input:required:invalid {
    border-color: red;
}
.db-help {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.cb-btn {
    position: absolute;
    top: 0;
    right: 0;
}
.exp {
    min-height: 3.750rem;
}
.top-bar ul {
    color: #FFF;
    background-color: #FE6861;
}
.top-bar ul a {
    font-size: 0.875rem;
    font-weight: bold;
    color: #FFF;
    opacity: .8;
}
.top-bar ul .act-pg a {
    opacity: 1;
}
.m-item {
    padding-bottom: 0.2rem;
}
.pastelred {
    background-color: #FE6861;
}
.callout {
    font-size: 0.875rem;
}
input[type="text"], select {
    height: 2.125rem;
    font-size: 0.875rem;
}
.button:focus, .button:hover {
    background-color: #C44842;
}
.button-group a {
    width: 5.5rem;
}
.bh {
    color: #E74C3C;
}
.show-for-small-only > li > a {
    font-size: 1.375rem;
}
